<?xml version="1.0"?>
<launch>
    <!-- Here goes the name of the scenario -->
    <arg name="scenario" value="{project_name}"/>
    <!-- The scenario should include arguments for the 3 pcs in Jenny-->
    <arg name="pc1" default="cob3-1-pc1" />
    <arg name="pc2" default="cob3-1-pc2" />
    <arg name="pc3" default="cob3-1-pc3" />

    <group>
        <machine name="hbrs_pc1" address="$(arg pc1)" env-loader="$(find mdr_bringup)/env.sh" default="true" />

        <!-- Include data recording -->
        <include file="$(find mcr_rosbag_recorder)/ros/launch/rosbag_recorder.launch">
            <arg name="topics" value="$(find mdr_($arg {project_name}))/ros/config/rosbag_topics.yaml" />
        </include>


        <!-- Include navigation components required for the scenario -->

        <!-- Include planning components required for the scenario -->

    </group>

    <group>
        <machine name="hbrs_pc2" address="$(arg pc2)" env-loader="$(find mdr_bringup)/env.sh" default="true" />
        <!-- Include perception components required for the scenario -->
        <node pkg="zbar_ros" type="barcode_reader_node" name="barcode_reader" output="screen">
            <remap from="image" to="/cam3d/rgb/image_raw"/>
            <remap from="barcode" to="/mcr_perception/qr_reader/output"/>
            <param name="throttle_repeated_barcodes" type="double" value="2.0"/>
        </node>

        <!-- Include manipulation components required for the scenario -->

        <!-- Include manyears if required for the scenario -->

    </group-->

    <group>
        <machine name="hbrs_pc3" address="$(arg pc3)" env-loader="$(find mdr_bringup)/env.sh" default="true" />

        <!-- Include speech components required for the scenario -->
        <include file="$(find vocon_speech_recognizer)/launch/vocon.launch">
            <arg name="vocon_grammar" value="$(find mdr_($arg {project_name}))/ros/config/($arg {project_name}).fcf" />
        </include>
    </group>
</launch>
